<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Codaisseurify</title>
</head>
<body>
  <h1>Codaisseurify</h1>

    <div class="row">

        <div class="">
          <% @artists.each do |artist| %>
              <div class="col-sm-4 col-md-4 col-lg-4">
                      <div class="thumbnail centerBlock">
                          <%= image_tag artist.remote_image_url%>
                      </div>

                      <div class="centerBlock">
                        <%= link_to artist.name, artist_path(artist.id) %> <br>
                      </div>
                      <div class="caption centerBlock">
                        <%= link_to "delete", artist_path(artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
                      </div>
              </div>
          <% end %>
        </div>
    </div>
</body>
</html>
