<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="centerBlock">
      <h2>
    <%= @artist.name %>
      </h2>
    </div>


    <div class="thumbnail centerBlock">
        <a href="#"><%= image_tag @artist.remote_image_url %></a>
    </div>


    <br>
    <div class="centerBlock">
      <% @artist.songs.each do |song| %>
               <%= song.title %>

    <div class="caption centerBlock">
          <%= link_to "Delete", artist_song_path(song.id), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>

    <br>
     <% end %>
    </div>



</body>
</html>
